html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Jost", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  font-size: 62.5%;
  --broccoli-green-600: #16a34a;
  --broccoli-green-300: #6ee7b7;
  --black: black;
}

.page-layout {
  max-width: 100rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.logo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--broccoli-green-600);
}

.restart-button {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  background: rgb(245, 169, 169);
  border-radius: 1.4rem;
}

.game-card {
  display: grid;
  place-items: center;
  height: clamp(7.253rem, 4.0051rem + 8.661vw, 11.8rem);
  width: clamp(7.253rem, 4.0051rem + 8.661vw, 11.8rem);
  border-radius: 50%;
  background-color: var(--broccoli-green-300);
  border: black 0.4rem solid;
  overflow: hidden;
}

.game-card-img {
  height: clamp(7.253rem, 4.0051rem + 8.661vw, 11.8rem);
  width: clamp(7.253rem, 4.0051rem + 8.661vw, 11.8rem);
}

.game-card-container {
  height: clamp(32.7rem, 18.0571rem + 39.0476vw, 53.2rem);
  max-width: clamp(32.7rem, 18.0571rem + 39.0476vw, 53.2rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}
